/* .loginPage {
    background-image: url('../../public/Images/loginbackground.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('../../public/Images/loginbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
} */


.loginPage{
    background: linear-gradient(#7F7FD5,#86A8E7,#91EAE4)
}

.loginForm{
    background-color: white;
    color: black;
}  

.loginHeading{
        font-size: 35px;
        background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.error{
    font-size: 20px;
    font-weight: 10px;
}

ul li :hover{
    background-color: gray;
}

.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
